.server-data/cache
.server-data/logs
.server-data/plugins
.server-data/world
.server-data/world_nether
.server-data/world_the_end
.server-data/banned-ips.json
.server-data/banned-players.json
.server-data/bukkit.yml
.server-data/commands.yml
.server-data/help.yml
.server-data/paper-1.17.1-176.jar
.server-data/paper.yml
.server-data/permissions.yml
.server-data/spigot.yml
.server-data/usercache.json
.server-data/version_history.json
.server-data/whitelist.json