data/.cache
data/.local
data/.mixin.out
data/config
data/datapacks
data/defaultconfigs
data/dynamic-data-pack-cache
data/journeymap
data/kubejs
data/libraries
data/local
data/logs
data/mods
data/patchouli_books
data/simplebackups
data/world
data/.curseforge-manifest.json
data/.install-curseforge.env
data/.neoforge-manifest.json
data/.rcon-cli.env
data/.rcon-cli.yaml
data/banned-ips.json
data/banned-players.json
data/run.bat
data/run.sh
data/server_banlist_config.json
data/user_jvm_args.txt
data/usercache.json
data/usernamecache.json
data/whitelist.json
